@model IEnumerable<Ticket_Booking.Models.MovieModel>
<div>
<table>
    <tr>
        <th>Movie</th>
        <th>Movie Description</th>
        <th>Reserve Tickets</th>
    </tr>    
@foreach (Ticket_Booking.Models.MovieModel movie in ViewBag.MovieList)
{
    <tr>
    <td>@Html.DisplayFor(item => movie.MovieName)</td>
    <td>@Html.DisplayFor(item => movie.MovieDescription)</td>
    <td>@Html.ActionLink("Reserve Tickets","ReserveTickets")</td>
     </tr>           

}

</table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
